$color-slightly-desaturated-cyan: #5FB4A2;
$color-dark-blue: #203A4C;
$color-grayish-dark-blue: #33323D;
$color-very-light-grey: #FAFAFA;
$color-light-grey: #EAEAEB;
$color-bright-red: #F43030;
$font-ibarra-real-nova700: 'Ibarra Real Nova700';
$font-ibarra-real-nova400: 'Ibarra Real Nova400';
$font-public-sans: 'Public Sans400';
$font-primary: 'Public Sans400', "Arial", sans-serif;