.get-in-touch-section {
    margin-top: 20px;
    margin-bottom: 48px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid rgba($color: $color-grayish-dark-blue, $alpha: 0.15);
    padding-top: 48px;
}

.get-in-touch-section__title {
    @include font-style('Ibarra Real Nova700', 40px, 42px, $color-grayish-dark-blue) {
        margin: 0;
        letter-spacing: -0.357143px;
    }
}

.get-in-touch-section__box {
    max-width: 635px;
}

.get-in-touch-section__desc {
    @include font-style('Public Sans400', 16px, 30px, $color-grayish-dark-blue) {
        margin-top: 0;
        margin-bottom: 24px;
        letter-spacing: -0.357143px;
        opacity: 0.8;
    }
}

@include max(900px) {
    .get-in-touch-section {
        flex-direction: column;
    }

    .get-in-touch-section__title {
        margin-bottom: 24px;
    }
}